
<div class="col-xs-12 col-md-6">

    <caption><h3>Add new item into inventory</h3></caption>
</div>

<form name="product.addItemForm" ng-controller="ProductController as product" class="margin-top-25 form-horizontal col-xs-12 col-md-6 col-md-offset-3 custom-form" >
<div class="form-group row form-header-custom">


<h4 class="text-center col-xs-offset-1">Product Information</h4>
</div>


    <div class="form-group row">
        <label for="category" class="control-label col-xs-3">Product Category</label>
        <div class="col-md-8">
            <select class="form-control"  ng-model="product.category">
            <option value="Canned Goods">Canned Goods</option>
            <option value="Fresh Produce">Fresh Produce</option>
            <option value="Category3">category 3</option>
            <option value="Category4">category 4</option>
        </select>
        </div>
    </div>
    <div class="form-group row">

        <label for="sku-num" class="control-label col-xs-3">SKU Number: </label>
        <div class="col-md-8">
            <input class="form-control" type="number" name="sku-num" value="" ng-model="product.skuNum">
        </div>
    </div>
    <div class="form-group row">
        <label for="product-name" class="control-label  col-xs-3">Product Name: </label>
        <div class="col-md-8">
            <input class="form-control" type="text" name="product-name" value="" ng-model="product.productName">
        </div>
    </div>
    <div class="form-group row">
        <label for="quantity" class="control-label  col-xs-3">Quantity: </label>
        <div class="col-md-8">
            <input class="form-control" type="number" name="quantity" value="" ng-model="product.quantity">
        </div>
    </div>
    <div class="form-group row">
        <label for="date-bought" class="control-label  col-xs-3">Date Bought: </label>
        <div class="col-xs-8">
            <input class="form-control" type="date" name="date-bought" value="" ng-model="product.dateBought">
        </div>
    </div>
    <div class="form-group row">
        <label for="expiration-date" class="control-label  col-xs-3">Expiration Date: </label>
        <div class="col-xs-8">
            <input class="form-control" type=date name="expiration-date" value="" ng-model="product.expirationDate">
        </div>
    </div>
    <div class="col-xs-offset-4 col-xs-10">
        <button type="button" href="#myModalAdd" data-toggle="modal" class="btn btn-warning col-md-offset-2 " ng-click="product.newItemAdd(product.category,product.skuNum,product.productName,product.quantity,product.dateBought,product.expirationDate)">Add</button>
    </div>

</form>


<table class="table table-striped margin-top-25 ">
<caption>
    <h3 class="inline">Product Inventory List</h3>
</caption>




    <thead class="custom-header ">
        <th class="text-center">Category</th>
        <th class="text-center">SKU</th>
        <th class="text-center">Product Name</th>
        <th class="text-center">Quantity</th>
        <th class="text-center">Date Bought</th>
        <th class="text-center">Expiration Date</th>
        <th></th>
        <th></th>
        <th></th>
    </thead>

        <tr  class="text-center" ng-repeat="item in product.itemsArray track by item.id">
        <td>
            <div ng-hide="product.editingData[item.id]">{{item.category}}</div>
            <div ng-show="product.editingData[item.id]">
                <select ng-model="item.category">
                <option value="{{item.category}}" disabled selected hidden>{{item.category}}</option>
                <option value="Canned Goods">Canned Goods</option>
                <option value="Fresh Produce">Fresh Produce</option>
                <option value="Category3">category 3</option>
                <option value="Category4">category 4</option>
            </select>
        </div>
        </td>
        <td>
            <div ng-hide="product.editingData[item.id]">{{item.sku_number}}</div>
            <div ng-show="product.editingData[item.id]"><input type="number" ng-model="item.sku_number" placeholder="{{item.sku_number}}"/></div>
        </td>
        <td >
            <div ng-hide="product.editingData[item.id]">{{item.product_name }} <span class="glyphicon glyphicon-asterisk" ng-class="{expired: item.expirationStatus=='expired', expiring: item.expirationStatus=='expiring' }"></span></div>
            <div ng-show="product.editingData[item.id]"><input type="text" ng-model="item.product_name" placeholder="{{item.product_name}}" /></div>
        </td>
        <td>
            <div ng-hide="product.editingData[item.id]">{{item.quantity}}</div>
            <div ng-show="product.editingData[item.id]"><input type="text" ng-model="item.quantity" placeholder="{{item.quantity}}" />
        </td>
        <td>
            <div ng-hide="product.editingData[item.id]">{{item.date_bought| date:'MM/dd/yyyy'}}</div>
            <div ng-show="product.editingData[item.id]"><input ng-model="item.date_bought| date:'MM/dd/yyyy'" placeholder="{{item.date_bought| date:'MM/dd/yyyy'}}" value="{{item.date_bought| date:'MM/dd/yyyy'}}" class="textbox-n" type="text" onfocus="(this.type='date')" >
        </td>
        <td>
            <div ng-hide="product.editingData[item.id]">{{item.expiration_date| date:'MM/dd/yyyy'}}</div>
            <div ng-show="product.editingData[item.id]"><input ng-model="item.expiration_date | date:'MM/dd/yyyy'" placeholder="{{item.expiration_date| date:'MM/dd/yyyy'}}" value="{{item.expiration_date| date:'MM/dd/yyyy'}}"class="textbox-n" type="text" onfocus="(this.type='date')" >
        </td>
        <td ><button ng-hide="product.editingData[item.id]" type="button" ng-click="product.editItem(item.id)"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
        <td ><button ng-show="product.editingData[item.id]"  type="button" ng-click="product.updateItem(item.category, item.sku_number, item.product_name, item.quantity, item.date_bought, item.expiration_date,item.id)"><span class="glyphicon glyphicon-edit"></span> Update</button></td>

        <td><button type="button" ng-click="product.deleteItem(item.id)"><span class="glyphicon glyphicon-trash"></span>Delete</button></td>

    </tr>

</table>

<div id="myModalAdd" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body modal-background-color text-center">
                <p>You successfully added an item to your inventory!</p>
                <p class="text-warning"><small></small></p>
            </div>
            <div class="modal-footer">

                <button ng-click="product.refreshPage()" type="button" class="btn btn-warning" data-dismiss="modal" >Ok</button>
            </div>
        </div>
    </div>
</div>
