<div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <h1>My Camera</h1>
        <!-- <div ng-controller="cameraController">
            <div class="alert alert-error ng-scope" ng-show="camera.webcamError" style="">
                <span>Webcam could not be started. Did you give access to it?</span>
            </div>

            <webcam channel="camera.channel" on-streaming="camera.onSuccess()" on-error="camera.onError(err)" on-stream="camera.onStream(stream)"></webcam>


            <button ng-click="camera.makeSnapshot()"><span class="glyphicon glyphicon-camera" ></span> Take a Snapshot!</button>

            <canvas id="snapshot" width="300" height="300"></canvas>

        </div> -->


        <div class="select">
   <label for="videoSource">Video source: </label>
   <select class="select" ng-model="camera.selectedVideo" id="videoSource" ng-change="camera.startCamera()"></select>
   <!-- <option ng-repeat="source in camera.videoSources">{{source.label}}</option> -->
 </div>
<div class="row  text-center">
 <video class="col-md-12" muted></video>
 </div>
</div>
    </div>
</div>
