

<div class ="container">
    <h1 class="text-center">What do you want to do?</h1>
<div class="row">

 <div class="col-sm-4">
    <div class="card card-outline-primary">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Submit a Receipt</h4>
        <p class="card-text">An option to take a picture of a receipt or upload an image of a receipt to add items to the database.</p>
        <a href="/receipt" class="btn btn-primary">Go</a>
      </div>
    </div>
    </div>

    <div class="col-sm-4">
       <div class="card card-block ">
         <img class="card-img-top" src="..." alt="Card image cap">
         <div class="card-block">
           <h4 class="card-title">Add item to inventory</h4>
           <p class="card-text">Individually add item to the database</p>
           <a href="/add" class="btn btn-primary">Go</a>
         </div>
       </div>
       </div>

       <div class="col-sm-4">
          <div class="card card-block ">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Check Meal Planner</h4>
              <p class="card-text">Check what meal you have planned for the day</p>
              <a href="/calendar" class="btn btn-primary">Go</a>
            </div>
          </div>
          </div>



</div>
<div class="row">

    <div class="col-sm-4">
       <div class="card card-block ">
         <img class="card-img-top" src="..." alt="Card image cap">
         <div class="card-block">
           <h4 class="card-title">Check Pantry Inventory</h4>
           <p class="card-text">Check what items you have in your pantry</p>
           <a href="/inventory" class="btn btn-primary">Go</a>
         </div>
       </div>
       </div>

       <div class="col-sm-4">
          <div class="card card-block ">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Suggested Recipes for the day</h4>
              <p class="card-text">Here are some recipe ideas for your pantry item expiring today.</p>
              <a href="/recipes" class="btn btn-primary">Go</a>
            </div>
          </div>
          </div>

          <div class="col-sm-4">
             <div class="card card-block ">
               <img class="card-img-top" src="..." alt="Card image cap">
               <div class="card-block">
                 <h4 class="card-title">Favorite Recipes</h4>
                 <p class="card-text">Tried and loved recipes</p>
                 <a href="/favorites" class="btn btn-primary">Go</a>
               </div>
             </div>
             </div>

    </div>
</div>

<!-- <div class="col-md-6 col-md-offset-3 text-center">






<div class="form-group row">
<a href="/receipt" class ="btn btn-default btn-block" type="button" name="button">Submit a Receipt</a>
</div>
<div class="form-group row">
<a href="/add" class ="btn btn-default btn-block" type="button" name="button">Add item to inventory</a>
</div>
<div class="form-group row">
<a href="/calendar" class ="btn btn-default btn-block" type="button" name="button">Check Meal Planner</a>
</div>
<div class="form-group row">
<a href="/inventory" class ="btn btn-default btn-block" type="button" name="button">Check Inventory</a>
</div>
<div class="form-group row">
<a href="/recipes"class ="btn btn-default btn-block" type="button" name="button">Suggested Recipe</a>
</div>
<div class="form-group row">
<a href="favorites"class ="btn btn-default btn-block" type="button" name="button">Favorite Recipes</a>
</div>

</div>
</div> -->
