
<div class="container margin-top-25 ">
    <h1 class="text-center ">Welcome {{nav.username}}!, What do you want to do today?</h1>
    <div class="row margin-top-25 ">
        <div class="col-sm-4 ">
            <div class="card card-outline-primary">
                <img class="card-img-top" src="/assets/grocery_receipt.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Submit a Receipt</h4>
                    <p class="card-text">An option to take a picture of a receipt or upload an image of a receipt to add items to the database.</p>
                    <a href="/receipt" class="btn btn-warning ">Go</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card card-block ">
                <img class="card-img-top" src="/assets/dditem.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Add item to inventory</h4>
                    <p class="card-text">Individually add item to the database</p>
                    <a href="/add" class="btn btn-warning">Go</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card card-block ">
                <img class="card-img-top" src="/assets/calendar.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Check Meal Planner</h4>
                    <p class="card-text">Check what meal you have planned for the day</p>
                    <a href="/bootstrapCalendar" class="btn btn-warning">Go</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-top-25 ">
        <div class="col-sm-4">
            <div class="card card-block ">
                <img class="card-img-top" src="/assets/inventory_check.png" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Check Pantry Inventory</h4>
                    <p class="card-text">Check what items you have in your pantry</p>
                    <a href="/inventory" class="btn btn-warning">Go</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card card-block ">
                <img class="card-img-top" src="/assets/recipe.png" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Suggested Recipes for the day</h4>
                    <p class="card-text">Here are some recipe ideas for your pantry item expiring today.</p>
                    <a href="/recipes" class="btn btn-warning">Go</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card card-block ">
                <img class="card-img-top" src="/assets/favorites.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Favorite Recipes</h4>
                    <p class="card-text">Tried and loved recipes</p>
                    <a href="/favorites" class="btn btn-warning">Go</a>
                </div>
            </div>
        </div>
    </div>
</div>
