

<div class ="container">
<div class="col-md-6 col-md-offset-3 text-center">


<h1>Home</h1>
<div class="form-group row">
<a href="/receipt" class ="btn btn-primary" type="button" name="button">Submit a Receipt</a>
</div>
<div class="form-group row">
<a href="/add" class ="btn btn-primary" type="button" name="button">Add item to inventory</a>
</div>
<div class="form-group row">
<a href="/calendar" class ="btn btn-primary" type="button" name="button">Check Meal Planner</a>
</div>
<div class="form-group row">
<a href="/inventory" class ="btn btn-primary" type="button" name="button">Check Inventory</a>
</div>
<div class="form-group row">
<a href="/recipes"class ="btn btn-primary" type="button" name="button">Suggested Recipe</a>
</div>
<div class="form-group row">
<a href="favorites"class ="btn btn-primary" type="button" name="button">Favorite Recipes</a>
</div>

</div>
</div>
