<h1 class="text-center">Recipe Suggestions Goes Here!</h1>
<div class="container text-center">
<div class=" fullwidth col-md-4 pull-left" ng-repeat="image in recipe.recipeArray">
    <img ng-click="ingredientShow = !ingredientShow" ng-src="{{image.recipe.image}}" />
    <div>
        <h4>{{image.recipe.label}}</h4>
    </div>
    <div  ng-show="ingredientShow" ng-repeat="ingredient in image.recipe.ingredients">
        <p >
            {{ingredient.text}}
        </p>
    </div>
    <button type="button" href="#myModalAdd" data-toggle="modal" >Add to Calendar</button>
    <button ng-click="recipe.addToFavorites(image.recipe.label, image.recipe.image, image.recipe.url)">Add to Favorites</button>
</div>
</div>

<!-- Modal HTML Bootstrap for add to calendar-->
<div id="myModalAdd" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Please add calendar details</p>
                <p class="text-warning"><small></small></p>
            </div>
            <div class="modal-footer">
                <input type="datetime-local" class="form-control" ng-model="recipe.startTime" >
                <input type="datetime-local" class="form-control" ng-model="recipe.endTime" >
                <input type="text" class="form-control" ng-model="recipe.event" placeholder="Event Name&hellip;">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="recipe.addToCalendar(recipe.startTime, recipe.endTime, recipe.event)">Add</button>
            </div>
        </div>
    </div>
</div>
