.custom-form {
    background-color: white;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 0;
    padding-left: 0 !important;
    padding-right:0 !important;
}

.form-header-custom {
    width:100%;
    color: orange;
    background-color: grey;
    margin-bottom:40px;
    height:150%;
    padding: 20px 0;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}

span.glyphicon-camera{
 font-size: 2em;
}

span.glyphicon-asterisk{
 font-size: 0.5em;
}

img {
    width:100%;
    height:250px;
}
.recipe-holder {
    width: 100%;
    overflow : hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}
.label-holder{
        text-overflow: ellipsis !important;
}

main {
    margin-bottom: 30px !important;
    padding-bottom: 50px;
}

footer {
    margin-top: 30px !important;
}

.expiring {
    color: orange;
}
.expired {
    color: red;
}

.custom-table-header {
    background-color: grey !important;
    color:white;
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }

  .modal-background-color {
      background-color: gray;
      padding:20px;
      color: white;
      font-size: 1.5em !important;
  }

/*styling the upload file input*/
  .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: gray;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red !important;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }

option:first {
    color: #999;
}

/* form starting stylings ------------------------------- */
.group        {
  position:relative;
  margin-bottom:15px;
}
.custom-input , select        {
  font-size:14px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
}
.custom-input:focus , select:focus    { outline:none; }

/* LABEL ======================================= */
.custom-label        {
  color:grey;
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:3px;
  top:5px;
  transition:0.2s ease all;
}

/* active state */
.custom-input:focus ~ .custom-label  , .custom-input:valid ~ .custom-label   ,select:focus ~ .custom-label  , select:valid ~ .custom-label      {
  top:-20px;
  font-size:14px;
   color:#757575;
  /*color:#5264AE;*/
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:50%; }
.bar:before, .bar:after   {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:orange;
  transition:0.2s ease all;
}
.bar:before {
  left:100%;
}
.bar:after {
  right:100;
}

/* active state */
.custom-input:focus ~ .bar:before, .custom-input:focus ~ .bar:after, select:focus ~ .bar:before, select:focus ~ .bar:after  {
  width:100%;
}


/* ANIMATIONS ================ */

/* active state */
.custom-input:focus ~ .custom-label  , input:valid ~ .custom-label  , select:focus ~ .custom-label  , select:valid ~ .custom-label    {
  top:-20px;
  font-size:11px;
  color:grey;
  /*color:#5264AE;*/
}

/*bootstrap calendar customization*/

.custom-event {
    display:block;
    position: -20px;
    color: black;
}
