.custom-form {
    background-color: white;
    padding:40px;
}

img {
    width:100%;
    height:250px;
}
.recipe-holder {
    width: 100%;
    overflow : hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}
.label-holder{
        text-overflow: ellipsis !important;
}

main {
    margin-bottom: 30px !important;
    padding-bottom: 50px;
}

footer {
    margin-top: 30px !important;
}

.expiring {
    color: orange;
}
.expired {
    color: red;
}

.custom-header {
    background-color: lightblue !important;
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }

  .modal-background-color {
      background-color: gray;
      padding:20px;
      color: white;
      font-size: 1.5em !important;
  }

/*styling the upload file input*/
  .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: gray;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red !important;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
